body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 20;
    background-color: #eaeaea;
    color: #232323;
}

header {
    background-color: #eaeaea;
    color: #232323;
    padding: 15px;
    text-align: left;
    font-family: 'Europa', sans-serif;
}

nav {
    display: flex;
    justify-content: left;
    background-color: #eaeaea;
    padding: 10px;
}

nav a {
    color: #232323;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #eaeaea;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #232323;
}

p {
    line-height: 1.6;
}

