summary {
    list-style: none;
  }
  
  /* Add a plus before the summary text */
  summary::after {
    content: '+';
    margin-left: 6px;
  }
  
  /* Change the plus to a minus when details are expanded */
  details[open] summary::after {
    content: '-';
  }

a {
    color: #1444ca; /* Custom link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make link text bold */
    transition: color 0.3s ease/* Smooth transition for color and shadow */
}

a:hover {
    color: #688bea; /* Link color on hover */
     /* Add shadow effect on hover */
}

a:visited {
    color: #384f8f; /* Link color when visited */
}

a:active {
    color: #000000; /* Link color when active */
}

body {
    
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    margin: 0;
    padding: 20;
    background-color: #f1f1f1;
    color: #000000;
}

header {
    background-color: #000000;
    color: #f1f1f1;
    padding-left: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.image {
    width: 40%; /* Adjust as needed */
    float: right; /* Float image to the right */
  }

nav {
    display: flex;
    justify-content: left;
    background-color: #f1f1f1;
    padding: 5px;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0 5px;
    border-radius: 0px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    kerning: 100;
    font-weight: bolder;
    color: #000000;
    text-underline-position: below;
}

p {
    line-height: 1.6;
}

.text {
    font-family: Arial, sans-serif;
    transition: font-family 0.3s ease;
  }

  /* Font change on hover */
  

  .section1{
      /*width: 33.33%; /* Each section takes up one-third of the page width 
      float: left; /* Float sections to the left 
      height: 600px; /* Adjust height as needed 
      background-color: #f0f0f0;
      text-align: left;
      box-sizing: border-box;
      border: 1px solid #000000;
      padding: 5px;
      */
      float: left;
      padding-right: 50px;
      box-sizing: border-box;
      text-align: left;
      min-width: 20%;
      max-width: 20%;
      margin: 0 auto;
      word-wrap: normal; /* Break long words */
      word-break: normal; /* Break long words */
      overflow-wrap: normal; /* Ensure long words wrap */
  }

  .section2{
    /*width: 33.33%; /* Each section takes up one-third of the page width 
    float: left; /* Float sections to the left 
    height: 600px; /* Adjust height as needed 
    background-color: #f0f0f0;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 5px;
    */
    float: left;
    padding-right: 50px;
    box-sizing: border-box;
    text-align: left;
    min-width: 40%;
    max-width: 40%;
    margin: 0 auto;
    word-wrap: normal; /* Break long words */
    word-break: normal; /* Break long words */
    overflow-wrap: normal; /* Ensure long words wrap */
}

.section3{
    /*width: 33.33%; /* Each section takes up one-third of the page width 
    float: left; /* Float sections to the left 
    height: 600px; /* Adjust height as needed 
    background-color: #f0f0f0;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 5px;
    */
    float: left;
    padding-right: 50px;
    box-sizing: border-box;
    text-align: left;
    min-width: 45%;
    max-width: 45%;
    margin: 0 auto;
    word-wrap: normal; /* Break long words */
    word-break: normal; /* Break long words */
    overflow-wrap: normal; /* Ensure long words wrap */
}
